.sucesso, .fracasso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    margin: 200px 0;
}

.tituloSucesso, .tituloFracasso {
    font: bold 36px Roboto;
    line-height: 42px;

    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.textoSucesso, .textoFracasso {
    font: normal 22px Roboto;
    line-height: 26px;
}

