.flashcard {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    width: 392px;
    height: 575.75px;

    position: relative;
}

.parteFrente, .parteCostas {
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s;

    padding: 16px;

    text-align: center;
}

.parteFrente {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.parteCostas {
    visibility: hidden;
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.parteFrente.selecionado {
    transform: rotateY(-180deg);
}

.parteCostas.selecionado {
    visibility: inherit;
    transform: rotateY(0deg)
}

.virarCarta {
    width: 40px;
    height: 35px;

    cursor: pointer;
}

.pergunta {
    font: bold 28px Roboto;
    line-height: 33px;
    
    margin: auto;
}

.contador {
    font: normal 18px Roboto;
    
    position: fixed;
}

.titulo {
    font: bold 12px Roboto;
    line-height: 14px;
    
    width: 100%;
    padding: 5px 0;

    display: flex;
    justify-content: center;
}

.resposta {
    font: normal 16px Roboto;
    line-height: 19px;

    margin: 0 auto;
}
